.About-section {
  background-position: center;
  background-size: cover;

  height: 529px;
}

.slider-div button {
  border: none;
  border-radius: 3px;
  background-color: #15447c;
  height: 36px;
  width: 162px;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.slider-div {
  position: absolute;
  background-color: #11111166;
  width: 100%;
  padding: 20px 0px;
  bottom: 0%;
  left: 0;
}

.slider-h3 {
  padding-left: 20px;
}

.image-fit {
  overflow: hidden;
  border-radius: 50%;
}

.about p {
  border: none;
  font-size: 16px;
  line-height: 29px;
  color: #3f3f3f;
  font-weight: 400;
}

.process-flex h5 {
  font-size: 20px;

  color: #3c3c3c;
  font-weight: 400;
}

.list-styling {
  background-color: whitesmoke;
}

.service-list {
  list-style-type: none;
  padding-left: 0;
}

.service-list li {
  padding: 0px;
  cursor: pointer;
  border: 0px solid #ddd;
  margin-bottom: 0px;
}

.service-list li:hover {
  background-color: #68a8e9;
}

.service-list .active {
  background-color: #007bff;
  color: white;
}

.service-image {
  width: 100%;
  height: 455px;
  object-fit: cover;
}

.link-color {
  font-size: 14px;
  text-decoration: none;
  color: inherit;
}

.carousel-inner {
  padding: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 columns for 5 images */
  gap: 10px;
}

.grid img {
  width: 100%;
  height: auto;
  /* Maintain aspect ratio */
  object-fit: cover;
  /* Ensures the image covers the container */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.grid img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-item {
  transition: 1s all ease-in;
}

.display-none {
  display: none;
}

.mobile-slider {
  height: 400px;
  /* Fixed height for the image container */
}

.mobile-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Cover the container while maintaining aspect ratio */
}

.mobile-slider {
  height: 400px;
  /* Fixed height for the image container */
}

.mobile-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Cover the container while maintaining aspect ratio */
}



@media (min-device-width: 481px) and (max-width: 768px) {
  .video-resp {
    height: 288px;
  }

  .about p {
    max-width: none;
    text-align: center;
  }

  .about-align {
    text-align: center;
  }

  .service-image {
    height: 479px;
  }

  .col-md-6 {
    width: 35%;
  }

  .Column-2 {
    width: 25% !important;
    text-align: center;
  }

  .col-md-3 {
    width: 40%;
  }

  .footer-address {
    line-height: 28px !important;
  }
}

@media (max-width: 1024px) {
  .about p {
    font-size: 13px;
    line-height: 30px;
    font-weight: 600 !important;
  }

  .about-align {
    text-align: center;
  }
}

@media (max-width: 426px) {
  .footer-bottom p {
    font-size: 9px;
    flex-wrap: nowrap;
  }

  .text-about {
    padding: 6px;
    font-size: 14px;
  }

  .what-we-do-h1 {
    font-size: 28px !important;
  }

  .display-none {
    display: block;
  }

  .slider-image {
    display: none;
  }

  .About-section {
    height: 300px;
  }

  .slider-h3 {
    font-size: 14px;
    color: white;
    margin-top: auto;
    margin-bottom: auto !important;
  }

  .slider-div button {
    font-size: 15px;
    height: 34px;
    width: 120px;
  }

  .slider-div {
    padding: 5px 0px;
  }

  .service-image {
    width: 100%;
    height: 300px;
  }

  .slider-head
  {
    top: -43px !important;
  }
}

@media (max-width: 320px) {
  .process-flex {
    justify-content: center !important;
  }
}

@media (max-width: 426px) {
  .process-flex {
    display: inline !important;
  }

  .p-align
{
  text-align: center;
}
}


.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img  {
  transition: transform 0.6s ease, opacity 0.6s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  opacity: 0;
}

.card:hover .image-container img {
  transform: translate(-50%, -50%) rotateY(180deg);
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover img:first-child {
  opacity: 0;
}


